<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>ripea</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/${application.context}</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncoding</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>ripea</servlet-name>
		<servlet-class>es.caib.ripea.war.webdav.WebdavDispatcherServlet</servlet-class>
		<init-param>
			<param-name>webdav-prefix</param-name>
			<param-value>/webdav</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ripea</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--${enable.tomcat.ws.start}
	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	${enable.tomcat.ws.end}-->

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Govern de les Illes Balears</realm-name>
	</login-config>

	<security-role>
		<role-name>IPA_SUPER</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>IPA_BSTWS</role-name>
	</security-role>
	<security-role>
		<role-name>tothom</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All areas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>IPA_SUPER</role-name>
			<role-name>IPA_ADMIN</role-name>
			<role-name>IPA_BSTWS</role-name>
			<role-name>tothom</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public areas</web-resource-name>
			<url-pattern>/ws/v0/bustia</url-pattern>
			<url-pattern>/ws/v1/bustia</url-pattern>
			<url-pattern>/ws/MCGDws</url-pattern>
			<url-pattern>/ws/portafibCallback</url-pattern>
			<url-pattern>/ws/bantel</url-pattern>
			<url-pattern>/rest/notib</url-pattern>
			<url-pattern>/rest/notib/notificaCanvi</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error</location>
	</error-page>
	<!--error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page-->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
